@use "website/src/config";
@use "sass:color";

$HEROCOL: color.adjust(config.$color2, $lightness: 60%);

body {
	.hero {
		background-color: $HEROCOL;
		flex-grow: 1;
		align-self: stretch;

		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;

		padding: 4rem;
		padding-bottom: 7rem;

		@include config.for-size(tablet-landscape-up) {
			margin-top: 2.5rem;
		}

		@include config.for-size(tablet-landscape-up) {
			justify-content: center;
			margin-top: 0;
		}

		div:first-child {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;

			h1 {
				font-size: 2.5rem;
				text-align: start;
				font-family: "Filson Pro", sans-serif;

				@include config.for-size(tablet-portrait-up) {
					font-size: 4rem;
				}
			}
			
			> h2 {
				font-size: 1.25rem;
				text-align: start;
				margin-top: 1.5rem;

				@include config.for-size(tablet-portrait-up) {
					margin: 0 2rem;
					font-size: 1.5rem;
					margin: 0;
					margin-top: 1.5rem;
				}

			}
			
			> a {
				background-color: color.adjust(config.$color2, $lightness: -5%);
				color: config.$color1;
				font-weight: bold;
				padding: 1rem 1.5rem;
				border-radius: 9999px;
				margin-top: 2rem;
				font-size: 1.1rem;
			}
		}
	}

	.hero-image {
		flex-grow: 1;
	}

	.benefits {
		$color: $HEROCOL;

		align-self: stretch;
		background-color: $color;
		display: flex;
		justify-content: center;
		align-items: start;
		padding: 0 3rem;
		padding-top: 2rem;
		column-gap: 4rem;

		height: fit-content;
		flex-direction: column;
		align-items: center;

		border-bottom: 1rem inset color.adjust($color, $lightness: -10%);

		@include config.for-size(tablet-portrait-up) {
			flex-direction: row;
			align-items: start;
		}

		@include config.for-size(tablet-landscape-up) {
			padding: 5rem 0;
			flex-direction: row;
		}

		> div:first-child {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			width: 100%;

			@include config.for-size(tablet-portrait-up) {
				display: grid;
				align-self: stretch;
				grid-template-rows: repeat(3, 1fr);
				grid-template-columns: repeat(2, 1fr);
				justify-items: center;
				align-items: center;
				row-gap: 4rem;
			}

			@include config.for-size(tablet-landscape-up) {
				width: fit-content;
				column-gap: 10rem;
				row-gap: 10rem;
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: repeat(3, 1fr);
			}
		}

		padding-bottom: 4rem;

		.benefit {
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;
	
			justify-content: center;
			align-items: center;
			margin-top: 3rem;
	
			@include config.for-size(tablet-portrait) {
				justify-content: start;
				align-items: start;
			}
	
			@include config.for-size(tablet-landscape-up) {
				margin-top: 0;
			}
		
			h1 {
				font-size: 2rem;
				font-weight: bold;
			}

			p {
				max-width: 23ch;
				text-align: center;

				@include config.for-size(tablet-portrait) {
					text-align: start;
				}
			}
		}
	}

	.subjects {
		align-self: stretch;

		background-color: config.$color2;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding: 5rem 3rem 3rem;
		column-gap: 8rem;

		@include config.for-size(tablet-portrait-up) {
			flex-direction: row;
		}
		
		h2 {
			font-size: 2rem;
			font-weight: bold;
		}

		p {
			font-size: 1.25rem;
			margin-top: 1rem;
			margin-bottom: 3rem;
		}

		> .col {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;
		}

		> .col-subjects {
			row-gap: 2rem;
		}

		$head-text-size: 1.5rem;

		.subject {
			display: grid;
			grid-template-areas:
				"img title"
				"x desc";
			grid-template-rows: 2.5rem 1fr;
			column-gap: 2rem;
			row-gap: 1rem;

			justify-content: center;
			align-items: center;
			margin-top: 3rem;

			@include config.for-size(tablet-landscape-up) {
				margin-top: 0;
			}

			img {
				grid-area: img;
				background-color: config.$color1;
				padding: 0.5rem;
	
				$img-size: $head-text-size * 1.5;
				height: $img-size;
				width: $img-size;
	
				border-radius: 1rem;
			}
	
			h1 {
				font-size: $head-text-size;
				font-weight: bold;
				grid-area: title;
			}
	
			.desc {
				grid-area: desc;
				max-width: 40ch;
			}
		}
	}

	.success {
		width: 100%;
		padding: 2rem 0;

		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		
		h2 {
			text-align: center;
			font-size: 2.25rem;
			font-weight: bold;
			margin-bottom: 3rem;
		}

		.tiles {
			width: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 3rem;
			gap: 1rem;

			@include config.for-size(tablet-portrait-up) {
				flex-direction: row;
			}
		}

		> a {
			margin-top: 2rem;
			font-size: 1.1rem;
			border: 2px solid black;
			padding: 0.75rem 1.5rem;
			font-weight: bold;
		}

		span {
			color: config.$color2;
		}
	}

	.success-story {
		font-size: 1.5rem;
		padding: 2rem;

		@include config.for-size(tablet-portrait-up) {
			max-width: min(350px, 35vw);
		}

		display: flex;
		flex-direction: column;
		background-color: color.adjust(config.$color1, $lightness: -20%);
		color: black;

		font-size: 1.25rem;
		justify-content: start;
		align-items: start;

		align-self: stretch;

		hr {
			width: 100%;
			margin: 1rem 0;
		}

		.name {
			color: black;
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			font-weight: bold;

			@include config.for-size(phone-only) {
				padding-top: 2rem;
			}
		}
		
		.stars {
			display: block;
			letter-spacing: 0.5ch;
			height: 1.25em;
		}
	}
}
