@use "website/src/config";

@font-face {
	font-family: "Filson Pro";
	src: url("/font/FilsonProHeavy.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Moderat;
	src: url("/font/ModeratMedium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Moderat;
	src: url("/font/ModeratBold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Moderat;
	src: url("/font/ModeratBlack.ttf");
	font-weight: 900;
	font-style: normal;
}

:root {
	font-size: 16px;
	font-family: Moderat, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	color: inherit;
}

@include config.for-size(phone-only) {
	.nomobile {
		display: none;
	}
}

@include config.for-size(tablet-portrait) {
	.mobile {
		display: none;
	}

	.notablet-portrait {
		display: none;
	}
}

@include config.for-size(tablet-landscape-up) {
	.mobile, .tablet-portrait {
		display: none;
	}
}

html, body {
	width: 100vw;
	min-height: 100vh;
}

.rightbound {
	margin-left: auto;
}

.flex-y {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.flex-x {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}
