header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: calc(100vw - 5rem);
    padding: 0.5rem 2.5rem;
    background-color: var(--color1);
}

header .header-img {
    height: 1.25rem;
}

header > nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    column-gap: 1.5rem;
    font-weight: bold;
    margin-left: 3rem;
}

header > nav a {
    padding: 0.5em 1em;
}
